# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db


Unity project/UnityVS.Unity project.CSharp.csproj
Unity project/UnityVS.Unity project.sln
Unity project/Assembly-CSharp-firstpass-vs.csproj
Unity project/Assembly-CSharp-firstpass.csproj
Unity project/Assembly-CSharp-vs.csproj
Unity project/Assembly-CSharp.csproj
Unity project/Assembly-UnityScript-firstpass-vs.unityproj
Unity project/Assembly-UnityScript-firstpass.unityproj
Unity project/Unity project-csharp.sln
Unity project/Unity project.sln
Unity project/Unity project.userprefs
Unity project/UnityVS.Unity project.CSharp.Plugins.csproj
